# Grab data

In [1]:
import pandas as pd
import lib.cleaners as c
import numpy as np

dataset = pd.read_json('dataset/resume_output_Cook-canada.json', lines=True)
dataset.head(10)
print('Dataset (maybe) duplicated:', len(dataset))

dataset = dataset.drop_duplicates(subset=['id'])
print('Dataset non-duplicated:', len(dataset))

Dataset (maybe) duplicated: 9977
Dataset non-duplicated: 9821

# Expanding education data

Expand education data into multiple rows

In [2]:
edu_df = c.expand_to_multi_rows(dataset, 'schools', 'school')
edu_df = edu_df[['id', 'school']]
edu_df.head(10)

                 id                                             school
0  54a3bd53808e6764  {'degree': '', 'school_name': 'Queen Elizabeth...
1  54a3bd53808e6764  {'degree': '', 'school_name': 'Kpu', 'start_da...
2  f8dc5fa9fc39c387  {'degree': 'High School Diploma in Technical T...
3  0e84aa0202047520  {'degree': 'Certificate in French Immersion', ...
4  67b00f0985c8948a  {'degree': 'in Mechanics and German Language S...
5  89c76f9c1242c552  {'degree': 'Professional cooks lvl 1 in Culina...
6  89c76f9c1242c552  {'degree': 'High school  diploma', 'school_nam...
7  84ebc2bebda72365  {'degree': 'High School Diploma', 'school_name...
8  017658f6f804297c  {'degree': 'apprenticehip in the field of cook...
9  b61c261f28ab69be  {'degree': 'High school', 'school_name': 'Sril...

Make dataframe out of the education dictionary

In [5]:
degree_df = c.create_new_df_dict_col(edu_df, 'school')

Delete NaN degrees and replace empty strings to NaN

In [6]:
degree_df = degree_df.replace('', np.nan)
degree_df = degree_df.dropna(subset=['degree'])
degree_df.head(10)

,degree,school_name,start_date,end_date
2,High School Diploma in Technical Theater,BISHOP CARROLL HIGH SCHOOL,September 2016,Present
3,Certificate in French Immersion,Ecole Connaught Community School,January 2011,NaN
4,in Mechanics and German Language Studies,Hassi Messaoud High School,NaN,NaN
5,Professional cooks lvl 1 in Culinary arts,Collage,May 2013,April 2014
6,High school diploma,Fleetwood park secondary,September 2007,June 2012
7,High School Diploma,Hamilton High School,May 1975,May 1979
8,apprenticehip in the field of cooking in culin...,vancouver island university,June 1989,May 1991
9,High school,Srilanka,NaN,NaN
10,Master's degree in Mechanical engineering (Tec...,Vysoká škola báňská - Technická univerzita Ost...,September 2013,June 2018
11,High school or equivalent,NaN,NaN,NaN

Simplifying degree data (it modifies the given DataFrame)

In [7]:
c.simplify_education_information_(degree_df, 'start_date', 'end_date')
simplified_degree_df = degree_df[['degree', 'degree_year_time']]
simplified_degree_df.head(10)

                                               degree  degree_year_time
2            High School Diploma in Technical Theater               NaN
3                     Certificate in French Immersion               NaN
4            in Mechanics and German Language Studies               NaN
5           Professional cooks lvl 1 in Culinary arts          0.917199
6                                High school  diploma          4.750269
7                                 High School Diploma          4.000082
8   apprenticehip in the field of cooking in culin...          1.913797
9                                         High school               NaN
10  Master's degree in Mechanical engineering (Tec...          4.747531
11                          High school or equivalent               NaN

Combine into original DF with ID

In [12]:
edu_df = edu_df[['id']]
expanded_resume_degree = pd.merge(edu_df, simplified_degree_df, left_index=True, right_index=True)
expanded_resume_degree.head(10)

,id,degree,degree_year_time
2,f8dc5fa9fc39c387,High School Diploma in Technical Theater,NaN
3,0e84aa0202047520,Certificate in French Immersion,NaN
4,67b00f0985c8948a,in Mechanics and German Language Studies,NaN
5,89c76f9c1242c552,Professional cooks lvl 1 in Culinary arts,0.917199
6,89c76f9c1242c552,High school diploma,4.750269
7,84ebc2bebda72365,High School Diploma,4.000082
8,017658f6f804297c,apprenticehip in the field of cooking in culin...,1.913797
9,b61c261f28ab69be,High school,NaN
10,708b408f8988a22e,Master's degree in Mechanical engineering (Tec...,4.747531
11,6f73b4d1ab8579ad,High school or equivalent,NaN

# Expanding skills data

Expand skills data to multiple rows

In [8]:
skills_df = c.expand_to_multi_rows(dataset, 'skills', 'skill_dict')
skills_df.head(10)

,additional,id,jobs,schools,skills,summary,skill_dict
0,"[Skills, -Good writing and reading abilities.,...",0e84aa0202047520,"[{'title': 'Line Cook and Prep Cook', 'company...","[{'degree': 'Certificate in French Immersion',...","[{'skill': 'COOKING', 'experience': '4 years'}...","[Well organized, focused individual who strive...","{'skill': 'COOKING', 'experience': '4 years'}"
1,"[Skills, -Good writing and reading abilities.,...",0e84aa0202047520,"[{'title': 'Line Cook and Prep Cook', 'company...","[{'degree': 'Certificate in French Immersion',...","[{'skill': 'COOKING', 'experience': '4 years'}...","[Well organized, focused individual who strive...","{'skill': 'HAND TOOLS', 'experience': 'Less th..."
2,"[Skills, -Good writing and reading abilities.,...",0e84aa0202047520,"[{'title': 'Line Cook and Prep Cook', 'company...","[{'degree': 'Certificate in French Immersion',...","[{'skill': 'COOKING', 'experience': '4 years'}...","[Well organized, focused individual who strive...","{'skill': 'WHMIS', 'experience': 'Less than 1 ..."
3,[Currently looking for full time job (prefere ...,708b408f8988a22e,"[{'title': 'Dishwasher/Line Cook', 'company': ...",[{'degree': 'Master's degree in Mechanical eng...,"[{'skill': 'Microsoft Office', 'experience': '...",[],"{'skill': 'Microsoft Office', 'experience': '9..."
4,[Currently looking for full time job (prefere ...,708b408f8988a22e,"[{'title': 'Dishwasher/Line Cook', 'company': ...",[{'degree': 'Master's degree in Mechanical eng...,"[{'skill': 'Microsoft Office', 'experience': '...",[],"{'skill': 'Inventor', 'experience': '8 years'}"
5,[Currently looking for full time job (prefere ...,708b408f8988a22e,"[{'title': 'Dishwasher/Line Cook', 'company': ...",[{'degree': 'Master's degree in Mechanical eng...,"[{'skill': 'Microsoft Office', 'experience': '...",[],"{'skill': 'Cad', 'experience': '8 years'}"
6,[Currently looking for full time job (prefere ...,708b408f8988a22e,"[{'title': 'Dishwasher/Line Cook', 'company': ...",[{'degree': 'Master's degree in Mechanical eng...,"[{'skill': 'Microsoft Office', 'experience': '...",[],"{'skill': 'Creo Parametric', 'experience': '2 ..."
7,"[Skills, ● High energy attitude, ● Sales exper...",c7675c0b793f34a0,"[{'title': 'Manager', 'company': 'Pizza Hut', ...","[{'degree': 'Certificate', 'school_name': 'Geo...","[{'skill': 'CUSTOMER RELATIONS', 'experience':...",[Looking for part-time position. Goal focused ...,"{'skill': 'CUSTOMER RELATIONS', 'experience': ..."
8,"[Skills, ● High energy attitude, ● Sales exper...",c7675c0b793f34a0,"[{'title': 'Manager', 'company': 'Pizza Hut', ...","[{'degree': 'Certificate', 'school_name': 'Geo...","[{'skill': 'CUSTOMER RELATIONS', 'experience':...",[Looking for part-time position. Goal focused ...,"{'skill': 'CUSTOMER SUPPORT', 'experience': 'L..."
9,"[Skills, ● High energy attitude, ● Sales exper...",c7675c0b793f34a0,"[{'title': 'Manager', 'company': 'Pizza Hut', ...","[{'degree': 'Certificate', 'school_name': 'Geo...","[{'skill': 'CUSTOMER RELATIONS', 'experience':...",[Looking for part-time position. Goal focused ...,"{'skill': 'PROBLEM SOLVING', 'experience': 'Le..."

Create a DF using the dictionary of skills

In [9]:
expanded_skill_df = c.create_new_df_dict_col(skills_df, 'skill_dict')
expanded_skill_df.head(10)

                skill        experience
0             COOKING           4 years
1          HAND TOOLS  Less than 1 year
2               WHMIS  Less than 1 year
3    Microsoft Office           9 years
4            Inventor           8 years
5                 Cad           8 years
6     Creo Parametric           2 years
7  CUSTOMER RELATIONS  Less than 1 year
8    CUSTOMER SUPPORT  Less than 1 year
9     PROBLEM SOLVING  Less than 1 year

Simplify skills information

In [10]:
c.simplify_skills_information_(expanded_skill_df, 'experience')
expanded_skill_df.head(10)

                skill experience
0             COOKING          4
1          HAND TOOLS          1
2               WHMIS          1
3    Microsoft Office          9
4            Inventor          8
5                 Cad          8
6     Creo Parametric          2
7  CUSTOMER RELATIONS          1
8    CUSTOMER SUPPORT          1
9     PROBLEM SOLVING          1

Combine into original DF with ID

In [17]:
skills_df = skills_df[['id']]
expanded_resume_skills = pd.merge(skills_df, expanded_skill_df, left_index=True, right_index=True)
expanded_resume_skills.head(10)

                 id               skill experience
0  0e84aa0202047520             COOKING          4
1  0e84aa0202047520          HAND TOOLS          1
2  0e84aa0202047520               WHMIS          1
3  708b408f8988a22e    Microsoft Office          9
4  708b408f8988a22e            Inventor          8
5  708b408f8988a22e                 Cad          8
6  708b408f8988a22e     Creo Parametric          2
7  c7675c0b793f34a0  CUSTOMER RELATIONS          1
8  c7675c0b793f34a0    CUSTOMER SUPPORT          1
9  c7675c0b793f34a0     PROBLEM SOLVING          1

# Clean summary data

In [14]:
pd.set_option('display.max_colwidth', 200)
cleaned_summary = c.clean_array_of_sentences(dataset, 'summary')
cleaned_summary.head(10)

0                                                                                                                               [obtain, parttime, job, atmosphere, use, improve, customer, service, skills]
1                                                                                                                                                                                                         []
2    [well, organized, focused, individual, strives, enhance, workplace, enjoy, contributing, participating, kind, healthy, work, environment, prepared, offer, support, needed, adaptable, alert, attent...
3                                                                                                                                                                                        [driving, position]
4                                                                                                                                                                                                         []
5                                                                                                                                                                                                         []
6                                                                                                                                                                                                         []
7                                                                                                                                                                                                         []
8                                                                                                                                                                                                         []
9                                                                                [obtain, full, time, position, monday, friday, many, years, experience, looking, career, apply, skills, learn, new, things]
Name: summary, dtype: object

# Clean additional data

In [16]:
pd.set_option('display.max_colwidth', 200)
# just 
cleaned_additional = c.clean_array_of_sentences(dataset, 'additional', clean_punctuation=False)
cleaned_additional.head(50,)

0     [skills, &, abilities, :, , young, ,, energetic, hard, working, ., , responsible, punctual, ., , able, work, independently, team, player, ., , adaptable, willing, learn, new, concepts, ., , excell...
1     [skills, , reliability, , leadership, management, , research, information, gathering, skills, , listening, skills, , creativity, innovation, , ability, manage, organize, information, , sense, resp...
2     [skills, good, writing, reading, abilities, ., able, speak, write, french, english, ., familiar, electronics, computer, equipment, ., proficient, computer, internet, programs, ., able, focus, well...
3     [, experienced, handson, worker, ;, construction, experience, ,, driving, , responsible, worker, , polite, , accurate, ;, pay, attention, detail, , good, physical, condition, eager, work, , good, ...
4                                                                                                                                          [currently, looking, part, time, work, evenings, 34, nights, week]
8     [currently, looking, full, time, job, (, prefere, morning, shift, ), ., intrested, ,, please, contact, via, email, ermis.j, @, seznam.cz.my, visa, wh, expirate, august, 2019., thank, looking, forw...
9     [great, experience, working, team, environment, well, alone, great, people, customer, service, skills, willingness, learn, new, things, hard, working, quick, learner, lots, experience, working, fa...
10                [skills, , high, energy, attitude, , sales, expertise, , team, leadership, , customer, relations, , complex, problem, solving, , time, management, , active, learning, , customer, support]
11    [skills, summary, highly, talented, cook, extensive, experience, preparing, ,, seasoning, cooking, wide, variety, meats, ,, fish, fowl, ,, vegetables, ,, soups, stocks, ,, breakfast, dishes, ,, pa...
12    [highlights, skills, /, knowledge, , proactive, attitude, towards, safety, ., , prioritizing, needs, resources, available, ., , always, giving, attention, every, team, members, opinion, resolve, s...
14    [highlights, qualifications, *, whims, ,, food, handlers, smart, serve, certified, *, many, years, experience, working, dealing, public, *, several, years, experience, restaurant, setting, *, will...
16          [skills, first, aid, whmis, strong, leadership, skills, strong, work, ethic, strong, problem, solving, skills, recreation/activity, programming, proficient, many, computer, programs, processes]
19                                               [skills, &, abilities, , creative, ,, artistic, ,, fast, learner, ,, cooperative, ,, leadership, skills, ,, outgoing, ,, able, work, alone, well, others, .]
21                                                [prefer, work, smaller, remote, camps, ., would, also, interest, fishing/hunting, camps, ., robert, commercial, fisherman, ., tracy, aboriginal, status, .]
23                                                                                [reliable, ,, good, time, management, ,, excellent, problem, solving, skills, ,, fluent, english, ,, positive, attitude, .]
24    [, experience, food, service, industry, strong, work, ethic, , dependable, ,, conscientious, ,, punctual, ,, organized, professional, courteous, manner, , strong, interpersonal, communication, ski...
26    [, organized, ,, prepared, ,, honest, ,, hard, working, ,, kind, ,, supportive, ,, helpful, , dedicated, ,, trustworthy, ,, team, worker, ,, creative, ,, responsible, , excellent, knowledge, windo...
27                                       [skills, *, hard, working, ,, organization, ,, problem, solving, ,, communication, ., many, years, cooking, experience, restaurant, line, cooking, banquet, cooking]
28                          ['ve, work, years, raising, babies, ., 'm, eager, get, back, work, force, ., 'm, fast, learner, love, working, people, ., excited, try, new, jobs, expand, working, knowledge, .]
29    [skills, &, abilities, quick, handson, individual, genuine, interest, culinary, art, ., knowledge, skills, food, preparation, presentation, ., ability, learn, new, techniques, exercise, safety, wo...
32    [skills, , good, organizational, skills, able, work, pressure, good, results, , hardworking, adaptable, dedicated, person, , highly, motivated, enthusiastic, guy, , excellent, persuasive, communic...
35    [computer, skills, , languages, :, c, ,, c++, ,, c, #, ,, java, ,, javascript, ,, html, ,, css, ,, jdk, , databases, :, mysql, ,, oracle, ,, access, , operating, system, :, linux, ,, windows, ,, o...
36    [, experienced, working, food, customer, service, roles, , recognized, ability, develop, positive, interactions, rapport, others, , hard, worker, flexible, ,, reliable, dedicated, completing, task...
40    [key, skills, ➢, experience, working, fastpaced, food, service, environment, undertaking, variety, tasks, ability, make, sure, job, gets, done, ., ➢, good, understanding, food, safety, regulations...
43    [skills, , team, player, , quick, learner, , live, code, ○, ``, ca, n't, time, ,, early, '', , decent, problem, solving, skills, , good, communication, skills, extra, certified, food, safety, stud...
45                                                                                           [skills, , hard, working, , independent, , fast, learner, , punctual, ,, never, absent, , friendly, ,, outgoing]
48    [highlights, qualifications, , 9, years, work, experience, cook, ,, menu, planning, ,, kitchen, inventory, ,, food, service, , professional, canadian, cooking, diploma, , knowledge, health, safety...
52    [skills, peopleoriented, self, motivated, positive, trusted, key, holder, friendly, personality, good, communicator, team, player, tolerant, flexible, different, situations, organized, quick, lear...
55    [, 2, years, experience, working, within, food, service, industry, , capable, working, fast, pace, tight, schedule, , strong, customer, service, money, handling, skills, (, point, sales, system, )...
56                                                                                                                                                                          [first, aid, food, safe, tickets]
58                                                                            [great, people, skills, reliable, ., give, best, task, ., enjoy, working, food, also, worked, laundry, done, house, keeping, .]
59    [, worked, public, enviroments, ,, keeping, steady, pace, ,, lifting, objects, safely, ., , ability, adjust, changes, shift, hours, ,, early, start, times, ,, long, hours, ,, night, double, shifts...
61                                                                                                  [active, member, safety, committee, norbord, full, employment, time, made, safety, big, part, work, life]
67    [, excellent, communication, skills, , able, take, direction, , able, work, efficiently, team, environment, , ability, work, peacefully, efficiently, pressure, physical, capabilities, , able, tole...
68    [highlights, qualifications, , 10, years, experience, magna, corporation, tier, one, ,, working, 7, different, assembly, lines, ,, sub, assemblies, ,, multicultural, environment, ,, seat, track, w...
69    [highlights, qualifications, :, completed, certified, food, handlers, enthusiastic, ,, approachable, hardworking, able, work, individually, part, team, selfconfident, dealing, diversity, work, pla...
70                                 [skills, , complex, problem, solver, , technical, writing, , strong, decision, maker, , team, leader, , customer, servicing, , multitask, perfomer, , clear, communicator]
74    [skills, customer, service, :, display, interpersonal, qualities, (, positive, attitude/wellpresented/customerfocused, ), working, independently, teamplayer, attention, detail, processing, orders,...
75    [, basic, computer, knowledge, excel, ,, powerpoint, ,, etc, ., , business, sense, ,, ability, work, pressure, ,, multitasking, ., , fast, , paced, decision, making, ., creativity, ,, culinary, ex...
77    [areas, strength, *, selfmotivated, ability, maintain, positive, outlook, *, willing, learn, ,, adapt, quickly, new, methods, surroundings, *, team, player, ,, work, cooperatively, towards, goals,...
80                                                                                                                   [hardworking, person.i, available, tuesday, ,, thursday, ,, friday, ,, saturday, sunday]
81    [, computer, skills, :, ms, word, ,, excel, ,, social, media, skills, experience, cooking, &, catering, , familiarized, commercial/industrial, kitchens, , owned, operated, private, catering, busin...
82                                                                                                                                                                  [food, safe, level, 1, &, serving, right]
83    [skills, summary, dedicated, ,, organized, ,, punctual, ,, creative, ,, meticulous, ,, supportive, ,, cooperative, ,, responsible, ,, precise, ,, patient, ,, selfdisciplined, ,, reliable, ,, flexi...
84    [key, skills, :, competent, operating, small, machinery, equipment, friendly, outgoing, great, problem, solver, quick, learner, environment, excellent, time, management, skills, organized, excelle...
86    [skills, , great, team, worker, , hard, dedicated, worker, , excellent, communication, skills, , 2, years, factory, work, , excellent, working, long, hours, , lift, repeatedly, ,, rotate, ,, use, ...
88                             [skills, , willingness, learn, , able, work, independently, team, , proactive, resourceful, , quick, learner, , selfmotivated, , safetyconscious, , creative, problem, solver]
91    [skills, :, pro, tools, ,, studio, recording, ,, live, sound, ,, mixing, ,, communication, ,, strong, interpersonal, skills, ,, teamplayer, focal, points, :, , wrote, recorded, several, original, ...
93                                                                                                                                 [im, also, interested, potential, internships, within, game, dev, area, .]
94         [highlights, skills, :, , quick, learner, ,, team, player, ,, effective, communicator, , flexible, availability, shifts, , honest, positive, worker, , team, player, ability, work, independently]
Name: additional, dtype: object